.table-noBorder td{
    border: none !important;
}
.table-w40{
    width: 40% !important;
}

.anchoColum table {
  width: 100% !important;
  table-layout: auto !important;
}
.anchoColum table thead tr th,
.anchoColum table tbody tr td{
display: table-cell !important;
width: auto !important;

}

.panelGridID .col1 {
	width: 40%;
	border: 1px solid red;
}

.panelGridID .col2 {
	width: 60%;
}

.panelGridID .top-alignment {
	vertical-align: top;
}

.panelGridID .claseTabla .colorTab {
	display: none;
}

/*Sobre escritura de filtros prime*/
.ui-datatable {
    border: 0!important;
    margin: 0 0 1em 0 !important;
}

.ui-datatable-tablewrapper {
    margin: 10px 0 !important;
}

.ui-datatable .ui-column-filter {
    height: 10px !important;
}

.ui-datalist {
    border: 0 !important;
}